body {
    margin: 0;
	padding: 0;
}

.form {
    padding: 7%;
}

.profile_page {
	padding: 5%;
	background-color: #f0f0f0;
	border-radius: 8%;
}

.img-thumbnail {
	border-radius: 10%;
}

#avatar_form {
	width: 45%;
	float: right;
}

#change_avatar {
	color: transparent;
	width: 100%;
}