#articles_panel {
    width: 100%;
    position:absolute;
}

.case {
    box-shadow: 0 3px 10px;
    width: 80%;
    padding: 10%;
    padding-top: 4%;
}

.case:hover {
    background-color: #002d801e
}

.author {
    font-size: 6vw;
    font-family: cursive;
    margin-bottom: 2%;
    text-align: right;
	user-select:none
}

.title {
    font-size: 7vw;
    font-family: monospace;
    font-weight: bold;
	user-select:none
}

.reg_button {
	float: right;
	background-color: #008cbadb;
	text-align: center;
	width: 30vw;
	border-radius: 2vw;
	margin-right: 8vw;
	font-size: 5.7vw;
	padding: 1% 2%;
	border: 0;
	text-decoration: none;
	color: white;
	user-select:none;
}
