body {
    margin: 0;
	padding: 0;
}

#text_field {
	display: none;
	width: 88%;
	padding: 6%;
	font-size: 6vw;
    font-family: sans-serif;
	position:absolute;
}

.paragraph {
	margin-top: 30%;
}

.button {
	position: relative;
	margin-top: 15%;
	display: flex;
	text-align: center;
	width: 50%;
	height: 90%;
	margin-left:25%;
	justify-content: center;
	font-size: 7vw;
	font-family: sans-serif;
	background-color:	#008CBA;
	color: white;
	border-radius:  2vw;
	text-decoration: none;
	padding: 2%;
	border: 0;
	user-select:none
}

.stop_button {
	position: relative;
	margin-top: 15%;
	display: flex;
	text-align: center;
	width: 50%;
	height: 90%;
	margin-left:25%;
	justify-content: center;
	font-size: 7vw;
	font-family: sans-serif;
	background-color:#FF0033;
	color: white;
	border-radius:  2vw;
	text-decoration: none;
	padding: 2%;
	border: 0;
	user-select:none
}

.button:hover {
    background-color: #007095
}

.cssload-loader_f {
	margin:0 auto;
	left: 0;
	right: 0;
	top:calc(50% - 15vmin);
	width: 30vmin;
	height: 30vmin;
	position: fixed;
	border: 1.5vw solid rgb(0,0,0);
	animation: cssload-loader_f 2.3s infinite ease;
		-o-animation: cssload-loader_f 2.3s infinite ease;
		-ms-animation: cssload-loader_f 2.3s infinite ease;
		-webkit-animation: cssload-loader_f 2.3s infinite ease;
		-moz-animation: cssload-loader_f 2.3s infinite ease;
}

.cssload-loader_f-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: rgb(0,0,0);
	animation: cssload-loader_f-inner 2.3s infinite ease-in;
		-o-animation: cssload-loader_f-inner 2.3s infinite ease-in;
		-ms-animation: cssload-loader_f-inner 2.3s infinite ease-in;
		-webkit-animation: cssload-loader_f-inner 2.3s infinite ease-in;
		-moz-animation: cssload-loader_f-inner 2.3s infinite ease-in;
}





@keyframes cssload-loader_f {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-loader_f {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-loader_f {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-loader_f {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-loader_f {
	0% {
		transform: rotate(0deg);
	}
	
	25% {
		transform: rotate(180deg);
	}
	
	50% {
		transform: rotate(180deg);
	}
	
	75% {
		transform: rotate(360deg);
	}
	
	100% {
		transform: rotate(360deg);
	}
}

@keyframes cssload-loader_f-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-o-keyframes cssload-loader_f-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-ms-keyframes cssload-loader_f-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-webkit-keyframes cssload-loader_f-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

@-moz-keyframes cssload-loader_f-inner {
	0% {
		height: 0%;
	}
	
	25% {
		height: 0%;
	}
	
	50% {
		height: 100%;
	}
	
	75% {
		height: 100%;
	}
	
	100% {
		height: 0%;
	}
}

.loadFacebookG{
	width:35vmin;
	height: 40vmin;
	display: none;
	position: relative;
	margin:0 auto;
	margin-top: 10vmin;
}

.facebook_blockG{
	background-color:rgb(255,255,255);
	border:calc(45vmin * 0.024) solid rgb(0,0,0);
	float:left;
	height: calc(45vmin * 0.8);
	margin-left: calc(45vmin * 0.056);
	width: calc(45vmin * 0.184);
	opacity:0.1;
	animation-name:bounceG;
		-o-animation-name:bounceG;
		-ms-animation-name:bounceG;
		-webkit-animation-name:bounceG;
		-moz-animation-name:bounceG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(0.7);
		-o-transform:scale(0.7);
		-ms-transform:scale(0.7);
		-webkit-transform:scale(0.7);
		-moz-transform:scale(0.7);
}

#blockG_1{
	animation-delay:0.45s;
		-o-animation-delay:0.45s;
		-ms-animation-delay:0.45s;
		-webkit-animation-delay:0.45s;
		-moz-animation-delay:0.45s;
}

#blockG_2{
	animation-delay:0.6s;
		-o-animation-delay:0.6s;
		-ms-animation-delay:0.6s;
		-webkit-animation-delay:0.6s;
		-moz-animation-delay:0.6s;
}

#blockG_3{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}



@keyframes bounceG{
	0%{
		transform:scale(1.2);
		opacity:1;
	}

	100%{
		transform:scale(0.7);
		opacity:0.1;
	}
}

@-o-keyframes bounceG{
	0%{
		-o-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-o-transform:scale(0.7);
		opacity:0.1;
	}
}

@-ms-keyframes bounceG{
	0%{
		-ms-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-ms-transform:scale(0.7);
		opacity:0.1;
	}
}

@-webkit-keyframes bounceG{
	0%{
		-webkit-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-webkit-transform:scale(0.7);
		opacity:0.1;
	}
}

@-moz-keyframes bounceG{
	0%{
		-moz-transform:scale(1.2);
		opacity:1;
	}

	100%{
		-moz-transform:scale(0.7);
		opacity:0.1;
	}
}