<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='PhoneAppSecondPage.css', v=1)}}">
    <link rel="shortcut icon" href="{{ url_for( 'static', filename='favicon.png')}}" sizes="16x16" type="image/png">
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='PhoneAppSecondPage.js')}}"></script>
    <title>SecondPage</title>
</head>
<body>
    <div id="text_field">
        
    </div>
    <span class="cssload-loader_f" id='loading'>
        <span class="cssload-loader_f-inner" >

        </span>
    </span>
</body>
</html>