<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='PhoneApp.css', v=1)}}">
    <link rel="shortcut icon" href="{{ url_for( 'static', filename='favicon.png')}}" sizes="16x16" type="image/png">
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='PhoneApp.js') }}"></script>
    <title>SpeakCharger</title>
</head>
<header id="header">
    <div class='space'></div>
    <div class='header'>
        Speak Charger     
    </div>
</header>
<body>
    <span class="cssload-loader" id='loading'><span class="cssload-loader-inner" ></span></span>
    <div id="pannel">
        <div onclick="href(1)" class='case'>
            <div id='a1' class='author'>

            </div>
            <hr class='line'>
            <div id='t1' class='title'>
                
            </div>
        </div>
        <div onclick="href(2)" class='case'>
            <div id='a2' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t2' class='title'>
                
            </div>
        </div>
        <div onclick="href(3)" class='case'>
            <div id='a3' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t3' class='title'>
                
            </div>
        </div>
        <div onclick="href(4)" class='case'>
            <div id='a4' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t4' class='title'>
                
            </div>
        </div>
        <div onclick="href(5)" class='case'>
            <div id='a5' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t5' class='title'>
                
            </div>
        </div>
        <div onclick="href(6)" class='case'>
            <div id='a6' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t6' class='title'>
                
            </div>
        </div>
        <div onclick="href(7)" class='case'>
            <div id='a7' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t7' class='title'>
                
            </div>
        </div>
        <div onclick="href(8)" class='case'>
            <div id='a8' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t8' class='title'>
                
            </div>
        </div>
        <div onclick="href(9)" class='case'>
            <div id='a9' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t9' class='title'>
                
            </div>
        </div>
        <div onclick="href(10)" class='case'>
            <div id='a10' class='author'>
                
            </div>
            <hr class='line'>
            <div id='t10' class='title'>
                
            </div>
        </div>
    </div>
</body>
</html>